

.hidden {
    display: none
}

.button {
    padding: 10px;
    background-color: #ddd;
    border: solid 1px #666;
    font-weight: bold;
}

.button:hover {
    background-color: #ddf;
}

#toolbar {
    text-align: center;
    margin-bottom: 15px;
}


#chat-area input {
    margin-top: 10px;
    width: 95%;
}

.chat-name {
    color: #c33;
}

.chat-message .me {
    color: #33c;
}

.chat-event {
    font-style: italic;
    font-size: 75%;
}

.online {
    color: #3c3;
}

.away {
    color: #c33;
}

.offline {
    color: #ccc;
}