.job-reg-cus-new #freelancer_hire_individual_regi .error {
    border: none;
    border-bottom: 1px #ff0000 solid !important;
}
.job-reg-cus-new #freelancer_hire_company_regi .error {
    border: none;
    border-bottom: 1px #ff0000 solid !important;
}
.ind-com .vertical-m-box .m-box a h4{
	border: none;
}
.d-c-c{
	position: absolute;
	right: 0px;
}
.rev-img .post-img-profile{
	border-radius: 100%;
}
.blog-page .comment-box .post-head .post-img{
	background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
}
.blog-page .all-comment-result{
	width: 100%
}

.article-post-text h3{
    font-size: 15px;
    letter-spacing: 0;
    font-weight: bold;
    color: #7b7b7b;
}
.article-post-text p{
    font-size: 13px;
}
#freelanceapplyinfocompany .form-group input.error,#freelanceapplyinfocompany .form-group textarea.error,#freelanceapplyinfocompany .form-group select.error{
    border: none;
    border-bottom: 1px #ff0000 solid !important;
}
#freelanceapplyinfocompany .form-group label.error{
    display: none !important;
}

#freelanceapplyinfo .form-group input.error,#freelanceapplyinfo .form-group textarea.error,#freelanceapplyinfo .form-group select.error{
    border: none;
    border-bottom: 1px #ff0000 solid !important;
}
#freelanceapplyinfo .form-group label.error{
    display: none !important;
}
.freelancer-regi-form-cus .form-group input.error,.freelancer-regi-form-cus .form-group textarea.error,.freelancer-regi-form-cus .form-group select.error{
    border: none;
    border-bottom: 1px #ff0000 solid !important;
}
.freelancer-regi-form-cus .form-group label.error{
    display: none !important;
}