.job-reg-cus-new #freelancer_hire_individual_regi .error {
    border: none;
    border-bottom: 1px #ff0000 solid !important;
}
.job-reg-cus-new #freelancer_hire_company_regi .error {
    border: none;
    border-bottom: 1px #ff0000 solid !important;
}
.ind-com .vertical-m-box .m-box a h4{
	border: none;
}
.d-c-c{
	position: absolute;
	right: 0px;
}